@page
@model InversionGloblalWeb.Pages.SeguridadRolesModulos.IndexModel
@{
    ViewData["Title"] = "Roles";
}
@using System.Globalization;
@using Microsoft.AspNetCore.Http
@using System;
@using System.Collections.Generic;
@using System.IO;
@using System.Linq;
@using System.Security.Claims;
@using System.Threading.Tasks;
@using Microsoft.AspNetCore.Mvc;
@using Microsoft.AspNetCore.Mvc.RazorPages;
@using Microsoft.Extensions.Configuration;
@using Refit;
@inject IHttpContextAccessor httpContextAccessor


@{
    var Roles = ((ClaimsIdentity)User.Identity).Claims.Where(d => d.Type == "Roles").Select(s1 => s1.Value).FirstOrDefault().Split("|");
}

@section scripts{
 

    <script>
        $(document).ready(function () {
            jQuery(document).ready(function ($) {

            });



            $(document).ready(function () {
                $('#tablita').DataTable();
            });


        });


        var ids = 0;
    function onClickModal(id) {
        ids = id;
        Swal.fire({
            title: '¿Desea eliminar este rol?',
            showDenyButton: true,
            showCancelButton: false,
            confirmButtonText: `Aceptar`,
            denyButtonText: `Cancelar`,
            customClass: {
                confirmButton: 'swalBtnColor',
                denyButton: 'swalDeny'
            },
        }).then((result) => {
            /* Read more about isConfirmed, isDenied below */
            if (result.isConfirmed) {

                Eliminar();

            }
        })

    }
        function  Eliminar() {

         $.ajax({
                        type: 'GET',
                        dataType: 'json',
                        url: '@Url.Page("Index", "Eliminar")',
                        data: { id: ids },
             success: function (result) {

                             if (result == false) {
                                 ids = 0;
                                 Swal.fire({
                                     icon: 'error',
                                     title: 'Oops...',
                                     text: 'Ha ocurrido un error al intentar eliminar'

                                 })

                             } else {
                                 Swal.fire({
                                     title: "Ha sido eliminado con éxito",

                                     icon: 'success',
                                     showCancelButton: false,
                                     customClass: {
                                         confirmButton: 'swalBtnColor',

                                     },
                                     confirmButtonText: 'OK'
                                 }).then((result) => {
                                     if (result.isConfirmed) {
                                         location.reload();
                                     }
                                 })
                             }
             },
             beforeSend: function () {

             }
                     })
        }

    </script>
}
 

<div class="row">
    <div class="col-md-12   ">
        <div class="card">
            <div class="card-header">
                <div class="row">
                    <div class="col-md-10">
                        <h4 class="card-title"> Roles</h4>
                    </div>
                    <div class="col-md-2">
                        <a asp-page="Nuevo" class="btn btn-primary" title="Agregar">+  Agregar</a>
                    </div>
                </div>

            </div>
            <div class="card-body table-responsive">

                <table class="table" id="tablita">
                    <thead class="text-primary">
                        <tr>
                            <th>Código</th>
                            <th>Nombre</th>

                            <th>Acción</th>

                        </tr>


                    </thead>


                    <tbody>
                        @foreach (var item in Model.Roles)
                        {
                            <tr>
                                <td>@item.idRol</td>
                                <td>@item.NombreRol</td>


                                <td>

                                    <a asp-page="./Editar" asp-route-id="@item.idRol" title="Editar" class="btn btn-warning"> Editar</a> &nbsp;
                                    <a onclick="javascript: onClickModal('@item.idRol')" title="Activar/Desactivar" class="btn btn-danger">Eliminar</a>&nbsp;
                                    <a asp-page="./RolesModulos" asp-route-id="@item.idRol" title="Asignar módulos" class="btn btn-success"> Asignar Módulos</a>

                                </td>

                            </tr>
                        }

                    </tbody>
                </table>


            </div>
        </div>

    </div>
</div>

